# =========================================
# 基本設定
# =========================================
# OSごとの不要ファイル
.DS_Store
Thumbs.db

# =========================================
# 大容量ファイルを無視
# =========================================
*.iso
*.img
*.vmdk
*.qcow2
*.ova
*.tar
*.gz
*.zip
*.7z

# =========================================
# バックアップや一時ファイル
# =========================================
*.bak
*.tmp
*.log

# =========================================
# OSエクスポート系フォルダ
# =========================================
2025/
