@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #cee6ff;
    margin: 0%;
    padding: 0%;
}
header{
    background-color: #5c8dc5;
    margin: 0%;
    padding: 0.5% 0.1% 0.1%;
    font-size: 14px;
}
.text-center{
    text-align: center;
}
.white{
    color: #ffffff;
}
main{
    width: 800px;
    margin:  0 auto;
}
img{
    text-align: center;
    margin: 40px 0 0;
}
h3{
    font-size: 20px;
    margin: 30px auto 10px;
}
h4{
    margin: 30px auto 10px auto;
}
.red{
    color: #ff0000;
}
.font-size{
    font-size: 14.4px;
    font-weight: lighter;
    margin-top: 5px;
}
a{
    font-weight: bold;
}
.box1{
    border: solid 3px #6ca1dd;
    text-align: center;
    justify-content: center;
    width: 550px;
    margin: 30px auto auto 100px;
    padding: 15px 15px 15px 40px;
}
.box1 li{
    padding: 0;
    text-align: left;
}
.box2{
    display: flex;
    padding-left: 0%;
    justify-content: space-between;
    margin: 0px auto 40px auto;
}
.box2 li{
    list-style: none;
    background-color: #7dabe0;
    padding: 20px 90px;
}
.box3{
    background-color: #5c8dc5;
    margin: 0%;
    padding: 2%;
    text-align: center;
    color: #ffffff;
}