@charset "utf-8";
.top_ul {
    display: flex;
    justify-content: center;
}

.top_ul li {
    list-style: none;
}

.admin_ul {
    display: flex;
    justify-content: center;
}

.admin_ul li {
    list-style: none;
}