<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>従業員管理|従業員一覧</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>従業員一覧</h1>
    <p><a href="/create">新規登録</a></p>

    <table>
        <tr>
            <th>従業員番号</th>
            <th>従業員名</th>
            <th>パスワード</th>
            <th></th>
            <th></th>
        </tr>
        {% for emp in emps %}
        <tr>
            <td>{{emp[0]}}</td>
            <td>{{emp[1]}}</td>
            <td>{{emp[2]}}</td>
            <td><a href="/edit/{{emp[0]}}">編集</a></td>
            <td><a href="/delete/{{emp[0]}}">削除</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>