@charset "UTF-8";
body{
    background-image: url(bgAnimal600.png);
    background-position: 0 325px;
}
header{
    z-index: 9999 ;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    background-color: 	#01C201;
}
.title ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.title ul li a{
    text-decoration: none;
    color: #000000;
}
h1{
    position: relative;
    top: 13px;
}
.small{
    font-size: 15px;
}
.navigation ul{
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-around;
    width: 1000px;
    list-style: none;
}
.navigation ul li{
    width: 700px;
    text-align: center;
    color: #000000;
}
.navigation ul li + li{
    border-left: solid 2px #000000;
}
.navigation ul li a{
    text-decoration: none;
    font-weight: 900;
    color: #000000;
}
.navigation ul li a:hover{
    color: #ffffff;
}
h2{
    position: relative;
    top: 30px;
    margin: 100px 0;
    text-align: center;
    font-size: 50px;
}
.animal-space{
    width: 1200px;
    margin: 0 auto;
    height: 530px;
    background-color: #ffffff;
    border-radius: 50px;
    border: solid 5px #01C201;
}
.animaltitle{
    width: 1000px;
    margin: 100px auto 20px;
}
.animalname{
    width: 1000px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
}
.animalspace{
    width: 1200px;
    margin: 0 auto;
    height: 800px;
    background-color: #ffffff;
    border-radius: 50px;
    border: solid 5px #01C201;
}
.accessmain{
    width: 1100px;
    margin: 0 auto;
    padding: 20px auto;
    background-color: #ffffff;
    border-radius: 50px;
    border: solid 5px #01C201;
}
.access{
    display: flex;
    justify-content: center;
    padding: 40px;
    list-style: none;
}
.access .accesspage{
    position: relative;
    top: 60px;
}
.access .accesspage p{
    line-height: 50px;
    text-align: left;
}
.access-icon{
    text-align: center;
}
.smallaccess{
    font-size: 20px;
}
.animal{
    display: block;
    width: 100%;
    height: auto;
}
.animalpictures{
    display: flex;
    gap: 30px;
    padding: 10px 0;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}
.animalpicture{
    display: block;
    width: 33.333%;
}
.animalpicture a{
    text-decoration: none;
    color: #000000;
}
.animalpicture:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .3s;
}
.animalpicturesize{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}
.animaltext{
font-size: 20px;
}
.hipopotamus{
    display: block;
    width: 1000px;
    margin: 0 auto;
    height: 700px;
    object-fit: cover;
    position: relative;
    top: 20px;
    border-radius: 50px;
}
.capybara{
    display: block;
    width: 1000px;
    margin: 0 auto;
    height: 700px;
    background-size: 250%;
    background-position: 0% 50% ;
    position: relative;
    top: 20px;
    border-radius: 50px;
 
}
.animal-text{
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    position: relative;
    top: 20px;
}
footer{
    margin: 10% 0 0 0;
    padding: 100px 0 0;
    text-align: center;
    background-color: 	#01C201;
}
footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
footer ul li i{
    width: 50px;
}
.fa-brands fa-twitter{
    font-size: 20px;
}
#page-top{
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: block;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
.topbtn{
    width: 100px;
}