<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>本の追加画面</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header>
        <p class="header_subtitle">OCALibrary</p>
        <div class="header_stracture">
            <p class="header_title">OCA図書館</p>
            <p class="header_message">～Welcome to OCA Library～</p>
        </div>
    </header>
    <main>
        <h1>本の追加</h1>
        <form action="/add" method="post" class="input_submit">
            <div class="input_box_many">
                <p>本のタイトル</p>
                <input type="text" name="title" required>
            </div>
            <div class="input_box_many">
                <p>著者名</p>
                <input type="text" name="author" required>
            </div>
            <p><input type="submit" value="送信"></p>
        </form>
        <a class="reverse_page" href="/admin_menu">戻る</a>
    </main>
</body>
</html>