<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>従業員管理|削除確認</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>削除確認</h1>

    <form action="/delete_confirm" method="post">
        <p>従業員番号: <input type="hidden" name="no" value="{{no}}">{{no}}</p>
        <p>従業員名: {{name}}</p>
        <p>パスワード: {{password}}</p>
        <p><input type="submit" value="削除"></p>
    </form>
    <p><a href="/">戻る</a></p>
</body>
</html>