<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>従業員管理|登録更新</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>登録更新</h1>
    <form action="/edit/{{no}}" method="post">
        <p>従業員番号: <input type="hidden" name="no" value="{{no}}">{{no}}</p>
        <p>従業員名: <input type="text" name="name" value="{{name}}"></p>
        <p>パスワード: <input type="text" name="password" value="{{password}}"></p>
        <p><input type="submit" value="送信"></p>
    </form>
    <p><a href="/">戻る</a></p>
</body>
</html>