<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>本の削除確認画面</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    {% if count == 0 %}
        <p>その本は存在しません。</p>
    {% elif count == 1 %}
        <h1>削除確認</h1>
        <form action="/delete_confirm" method="post">
            <p>本のタイトル: <input type="hidden" name="title" value="{{title}}">{{title}}</p>
            <p><input type="submit" value="削除"></p>
        </form>
    {% else %}
        <p>その本は貸し出し中です。削除できません。</p>
    {% endif %}
    <a class="reverse_page" href="/delete">戻る</a>
</body>
</html>