@charset "UTF-8";
body{
    background-color: #91c5f3;
}
.title{
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    width: 300px;
    margin: 20px;
    text-align: center;
    background-color: #ff0000;
    list-style: none;
}
nav ul li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #00ffff;
    background-color: #008000;
    transition: 0.8s;
}