 @charset "UTF-8";/*ここを書くことを忘れないこと */
*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: #cee6ff;
}
header{
    margin: 0%;
    padding: 1% 0.1% 1%;
    background-color: #5c8dc5;
    font-size: 14px;
}
.text-center{
    text-align: center;
}
.white{
    color: #ffffff;
}
main{
    width: 800px;
    margin:  0 auto;
}
img{
    margin: 40px 0 0;
    text-align: center;
}
h3{
    margin: 30px auto 10px;
    font-size: 20px;
}
h4{
    margin: 30px auto 10px auto;
}
.red{
    color: #ff0000;
}
.font-size{
    margin-top: 5px;
    font-size: 14.4px;
    font-weight: lighter;
}
a{
    font-weight: bold;
}
.box1{
    justify-content: center;
    width: 550px;
    margin: 30px auto auto 100px;
    padding: 15px 15px 15px 40px;
    border: solid 3px #6ca1dd;
    text-align: center;
}
.box1 li{
    padding: 0;
    text-align: left;
}
.box2{
    display: flex;
    justify-content: space-between;
    margin: 0px auto 40px auto;
    padding-left: 0%;
}
.box2 li{
    list-style: none;
    padding: 20px 90px;
    background-color: #7dabe0;
}
.box3{
    margin: 0%;
    padding: 2%;
    background-color: #5c8dc5;
    color: #ffffff;
    text-align: center;
}