<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー画面</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>ユーザーモード</h1>
    <ul class="admin_ul">
        <li>
            <h2>本の貸出</h2>
            <p></p>
            <p><a href="/borrow">本の貸出へ</a></p>
        </li>
        <li>
            <h2>本の返却</h2>
            <p></p>
            <p><a href="">本の返却へ</a></p>
        </li>
        <li>
            <h2>履歴確認</h2>
            <p></p>
            <p><a href="">履歴確認へ</a></p>
        </li>
    </ul>
    <p><a href="/">戻る</a></p>
</body>
</html>